<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div>
          <button type="button" class="btn btn-primary" (click)="addEditPost()">Add/Edit Post</button>
        </div>
        <div class="col-lg-8">
          <table class="table">
            <thead class="txt-color">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody style="color: #3a4d8b;">
              <tr *ngFor="let item of postService.post">
                <td scope="row">{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.author}}</td>
                <td>{{item.content}}</td>
                <td>{{item.date}}</td>
                <td>
                  <button class="btn btn-primary" style="text-decoration: none;" (click) = "editPost(item)">Edit</button> | 
                  <button class="btn btn-primary" style="text-decoration: none;" (click) = "delete(item.id)">Delete</button> | 
                  <button class="btn btn-primary" style="text-decoration: none;" routerLink="/comments/{{item.id}}">Comment</button> |
                  <button class="btn btn-primary" style="text-decoration: none;" routerLink="/reactive/{{item.id}}">Reactive Form</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->