<nav class="navbar" style="background-color: #daeafe !important;">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active txt-color" aria-current="page" routerLink="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link txt-color" routerLink="/contact">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active txt-color" aria-current="page" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link txt-color" routerLink="/signin">Logout</a>
      </li>
    </ul>
</nav>